@model List<MVC.Models.UserModel>

@{
    ViewBag.Title = "Index";
}

<style>
    .AvatarImage {
        max-height: 100px;
        max-width: 100px;
        border-radius: 5px;
        cursor: crosshair;
    }
</style>

<h2>Index</h2>


@foreach (var user in Model)
{

    
<div>
    <a href=@($"/user/viewprofile/{user.Id}")>ViewProfile</a>

    <div>
        @user.Nickname<br />
    </div>

    <img class="AvatarImage" title="Change" src="@Url.Action("Get", "Image", new {id=user.ImageAvatarId })"
         onerror="this.onerror=null;this.src='https://placeimg.com/200/300/animals';" />

</div>

}