
@{
    ViewBag.Title = "TestGeoLocation";
}

<h2>TestGeoLocation</h2>


<script>

    function getCity() {
     
      jQuery("#user-city").text(ymaps.geolocation.city);
      jQuery("#user-region").text(ymaps.geolocation.region);
      jQuery("#user-country").text(ymaps.geolocation.country);

    }


</script>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="GetData" onclick="getCity();" class="btn btn-default" />
    </div>
</div>

<div id="user-city"></div> 
<div id="user-region"></div> 
<div id="user-country"></div>